streamlit
streamlit_option_menu
streamlit_lottie
numpy
pandas
matplotlib
plotly
seaborn
squarify
datetime
feature_engine
scikit-learn
pmdarima
wheel
statsmodels
pystan
prophet
requests




